<!-- <mat-toolbar class="tiny-information-section">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>MyHome Web App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar> -->
<mat-toolbar class="tiny-information-section">
    <span class="section-email">
        <mat-icon>email</mat-icon>
    </span>
    &nbsp;Email Kami    
    &nbsp;
    <span class="section-phone">
        <mat-icon>phone</mat-icon>
    </span>
    &nbsp;0817171818
    <span class="spacer"></span>
    <div class="information-flag">
        <img src="assets/images/indonesia.png" alt="indo flag" class="flag indonesian-flag"/>
        <img src="assets/images/united-kingdom.png" alt="english flag" class="flag british-flag"/>
    </div>
</mat-toolbar>